apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
- namespace.yaml
- serviceaccount.yaml
- deployment.yaml
- service.yaml
- configmap-secret.yaml

commonLabels:
  app: hybrid-app
  version: v1
  environment: production
