---
- name: Create prometheus user
  user:
    name: prometheus
    state: present
    createhome: no
    shell: /bin/false

- name: Create Prometheus directories
  file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
    mode: '0755'
  loop:
    - /etc/prometheus
    - /var/lib/prometheus

- name: Download Prometheus
  get_url:
    url: "https://github.com/prometheus/prometheus/releases/download/v2.48.0/prometheus-2.48.0.linux-amd64.tar.gz"
    dest: /tmp/prometheus-2.48.0.linux-amd64.tar.gz

- name: Extract Prometheus
  unarchive:
    src: /tmp/prometheus-2.48.0.linux-amd64.tar.gz
    dest: /tmp
    remote_src: yes

- name: Copy Prometheus binaries
  copy:
    src: "/tmp/prometheus-2.48.0.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/"
    mode: '0755'
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: Copy Prometheus configuration
  copy:
    src: prometheus.yml
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: '0644'
  notify: restart prometheus

- name: Create Prometheus systemd service
  copy:
    content: |
      [Unit]
      Description=Prometheus
      After=network.target
      
      [Service]
      User=prometheus
      Group=prometheus
      Type=simple
      ExecStart=/usr/local/bin/prometheus \
        --config.file=/etc/prometheus/prometheus.yml \
        --storage.tsdb.path=/var/lib/prometheus \
        --web.console.templates=/etc/prometheus/consoles \
        --web.console.libraries=/etc/prometheus/console_libraries
      
      Restart=on-failure
      RestartSec=10s
      
      [Install]
      WantedBy=multi-user.target
    dest: /etc/systemd/system/prometheus.service
  notify: restart prometheus

- name: Start Prometheus service
  systemd:
    name: prometheus
    state: started
    enabled: yes
    daemon_reload: yes

handlers:
  - name: restart prometheus
    systemd:
      name: prometheus
      state: restarted
      daemon_reload: yes
